* {
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0px 10px;
}

section {
    display: flex;
    height: 100%;
}

#sec-1 {
    background-color: rgb(241, 241, 241);
    width: 25%;
    border-radius: 10px;
}

#sec-2 {
    width: 75%;
}

@media (max-width: 991px) {
    #sec-1 {
        width: 35%;
    }

    #sec-2 {
        width: 65%;
    }
}

@media (max-width: 991px) {
    #sec-2 {
        width: 100%;
    }
}

@media (max-width: 991px) {
    #sec-2 {

    }
}

.card {
    margin: 20px;
}

.card-title-top {
    margin: 5px 0px -10px 10px;
}

.not-card-text {
    font-size: 14px;
    height: 45px;
    overflow-y: scroll;
}

#stu-prof {
    border-radius: 100%;
}

#carouselExampleIndicators {
    padding: 1% 5%;
    background-color: rgb(241, 241, 241);
    margin: 3px;
}

.stu-card {
    margin: 10px 0px;
    padding: 5px;
}

.card-cover {
    background-color: brown;
}


.dropbtn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 7px 15px;
    font-size: 15px;
    margin: 0px 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    margin-left: -30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}